@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Markazi+Text:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  line-height: 1;
  background-color: #EDEFEE;
}

h1,
h2,
h3,
strong {
  font-family: 'Markazi Text', serif;
  font-size: 40px;
}

p,
span,
a,
label,
input,
select,
input::placeholder,
select::placeholder,
button {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
